img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./assets/img/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 126px);
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-dark {
  background-color: rgb(51, 54, 57) !important;
}

.btn {
  border-radius: 0;
  box-shadow: 2px 2px 10px 1px #33333355;
}

.btn:disabled {
  box-shadow: none;
}

.disabled {
  box-shadow: none;
}

.btn:hover {
  box-shadow: 2px 2px 10px 1px #33333333;
}

.btn-landing {
  box-shadow: none;
}

.dropdown-item {
  box-shadow: none;
}

.btn-warning {
  color: white;
}

.btn-warning:hover {
  color: white;
}

.btn-warning:active {
  color: white;
}

.btn-warning:disabled {
  color: white;
}

.nav-button {
  background-color: rgb(51, 54, 57) !important;
  box-shadow: none;
}

.nav-button:hover {
  background-color: rgb(51, 54, 57) !important;
}

.card {
  border-radius: 0;
  background-color: white;
  box-shadow: 2px 4px 10px 1px #33333333;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 24px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000075;
  z-index: 1000;
}

.btn-refresh {
  border: none;
  box-shadow: none;
  background-color: #eceef4;
  padding-bottom: 8px;
}

.btn-refresh:hover {
  box-shadow: none;
}

.toggle {
  cursor: pointer;
}
